.tree {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.tree li {
  white-space: nowrap;
}
.tree li ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tree-node {
  height: 30px;
  white-space: nowrap;
  cursor: pointer;
}
.tree-hit {
  cursor: pointer;
}
.tree-expanded,
.tree-collapsed,
.tree-folder,
.tree-file,
.tree-checkbox,
.tree-indent {
  display: inline-block;
  width: 28px;
  height: 30px;
  vertical-align: top;
  overflow: hidden;
}
.tree-expanded {
  background: url('images/tree_icons2.png') no-repeat -30px 0px;/*18+(1*12)*/
}
.tree-expanded-hover {
  background: url('images/tree_icons2.png') no-repeat -86px 0px;/*50+(1*12)*/
}
.tree-collapsed {
  background: url('images/tree_icons2.png') no-repeat 0px 0px;/*0+(0*12)*/
}
.tree-collapsed-hover {
  background: url('images/tree_icons2.png') no-repeat -56px 0px;/*32+(2*12)*/
}
.tree-lines .tree-expanded,
.tree-lines .tree-root-first .tree-expanded {
  background: url('images/tree_icons2.png') no-repeat -252px 0;/*144+(9*12)*/
}
.tree-lines .tree-collapsed,
.tree-lines .tree-root-first .tree-collapsed {
  background: url('images/tree_icons2.png') no-repeat -224px 0;/*128+(8*12)*/
}
.tree-lines .tree-node-last .tree-expanded,
.tree-lines .tree-root-one .tree-expanded {
  background: url('images/tree_icons2.png') no-repeat -140px 0;/*80+(5*12)*/
}
.tree-lines .tree-node-last .tree-collapsed,
.tree-lines .tree-root-one .tree-collapsed {
  background: url('images/tree_icons2.png') no-repeat -112px 0;/*64+(4*12)*/
}
.tree-line {
  background: url('images/tree_icons2.png') no-repeat -308px 0;/*176+(11*12)*/
}
.tree-join {
  background: url('images/tree_icons2.png') no-repeat -336px 0;/*192+(12*12)*/
}
.tree-joinbottom {
  background: url('images/tree_icons2.png') no-repeat -280px 0;/*160+(10*12)*/
}
.tree-folder {
  background: url('images/tree_icons2.png') no-repeat -364px 0;/*208+(13*12)*/
}
.tree-folder-open {
  background: url('images/tree_icons2.png') no-repeat -392px 0;/*224+(14*12)*/
}
.tree-file {
  background: url('images/tree_icons2.png') no-repeat -420px 0;/*240+(15*12)*/
}
.tree-loading {
  background: url('images/loading.gif') no-repeat center center;
}
.tree-checkbox0 {
  background: url('images/tree_icons2.png') no-repeat -364px -30px;
}
.tree-checkbox1 {
  background: url('images/tree_icons2.png') no-repeat -392px -30px;
}
.tree-checkbox2 {
  background: url('images/tree_icons2.png') no-repeat -420px -30px;
}
.tree-user {
    background-position-x:center !important;
    background-position-y:center !important;
    background: url('images/icon-user.png') no-repeat;
}
.tree-title {
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  padding: 0 2px;
  height: 30px;
  line-height: 30px;
}
.tree-node-proxy {
  font-size: 14px;
  line-height: 30px;
  padding: 0 2px 0 30px;
  border-width: 1px;
  border-style: solid;
  z-index: 9900000;
}
.tree-dnd-icon {
  display: inline-block;
  position: absolute;
  width: 28px;
  height: 30px;
  left: 2px;
  top: 30%;
  margin-top: -9px;
}
.tree-dnd-yes {
  background: url('images/tree_icons2.png') no-repeat -448px 0;/*256+(16*12)*/
}
.tree-dnd-no {
  background: url('images/tree_icons2.png') no-repeat -448px -30px;
}
.tree-node-top {
  border-top: 1px dotted red;
}
.tree-node-bottom {
  border-bottom: 1px dotted red;
}
.tree-node-append .tree-title {
  border: 1px dotted red;
}
.tree-editor {
  border: 1px solid #ccc;
  font-size: 14px;
  height: 28px !important;
  height: 30px;
  line-height: 24px;
  padding: 1px 2px;
  width: 80px;
  position: absolute;
  top: 0;
}
.tree-node-proxy {
  background-color: #ffffff;
  color: #000000;
  border-color: #95B8E7;
}
.tree-node-hover {
  background: #eaf2ff;
  color: #000000;
}
.tree-node-selected {
  background: #ffe48d;
  color: #000000;
}
