<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <connectionStrings>
    <!--主数据库连接-->
    <add name="maindb" connectionString="server=localhost;user id=root;password=admin;database=aifishingep;pooling=false;Old Guids=true;" providerName="mysql.data.mysqlclient"/>
  </connectionStrings>
  <quartz>
    <add key="quartz.scheduler.instanceName" value="ExampleDefaultQuartzScheduler"/>
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz"/>
    <add key="quartz.threadPool.threadCount" value="10"/>
    <add key="quartz.threadPool.threadPriority" value="2"/>

    <add key="quartz.jobStore.misfireThreshold" value="60000"/>
    <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz"/>

    <!--******************************Plugin配置********************************************* -->
    <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz"/>
    <add key="quartz.plugin.xml.fileNames" value="~/quartz_jobs.xml"/>
  </quartz>
  <appSettings>
    <add key="MongodbConectionStr" value="mongodb://127.0.0.1:27019"/>
    <!-- 每次获取数据数量 -->
    <!--<add key="eachHandleCount" value="50" />-->
    <!-- 获取数据的时间间隔单位毫秒10*60*1000 -->
    <add key="eachHandleTime" value="600000" />
    <!-- 默认转发结束时间为1分钟之前 -->
    <add key="eachHandleLastTime" value="1000" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2842/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
        name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
</configuration>
